operator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XML Schema for a cycling tour operator platform.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- ========================== -->
    <!--           Root             -->
    <!-- ========================== -->

    <xs:element name="Operator">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Guides" type="GuidesListType"/>
                <xs:element name="Clients" type="ClientsListType"/>
                <xs:element name="Regions" type="RegionsListType"/>
            </xs:sequence>
        </xs:complexType>

        <!-- ===== Global keys (ID uniqueness) ===== -->

        <!-- Clients -->
        <xs:key name="ClientKey">
            <xs:selector xpath="Clients/Client"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Guides -->
        <xs:key name="GuideKey">
            <xs:selector xpath="Guides/Guide"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Regions -->
        <xs:key name="RegionKey">
            <xs:selector xpath="Regions/Region"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Cycling routes -->
        <xs:key name="CyclingRouteKey">
            <xs:selector xpath="Regions/Region/CyclingRoutes/CyclingRoute"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Bikes -->
        <xs:key name="BikeKey">
            <xs:selector xpath="Regions/Region/Bikes/Bike"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Accommodations -->
        <xs:key name="AccommodationKey">
            <xs:selector xpath="Regions/Region/Accommodations/Accommodation"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Bike rental shops -->
        <xs:key name="BikeRentalKey">
            <xs:selector xpath="Regions/Region/BikeRentals/BikeRental"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- ===== References (foreign keys) ===== -->

        <!-- Booking → Client -->
        <xs:keyref name="BookingClientRef" refer="ClientKey">
            <xs:selector xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking"/>
            <xs:field xpath="ClientRef"/>
        </xs:keyref>

        <!-- BookedBike → Bike -->
        <xs:keyref name="BookingBikeRef" refer="BikeKey">
            <xs:selector xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/BookedBikes/BookedBike"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <!-- Event guide references → Guide -->
        <xs:keyref name="EventGuideRef" refer="GuideKey">
            <xs:selector xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/Guides/GuideRef"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <!-- Event cycling route references → CyclingRoute -->
        <xs:keyref name="EventCyclingRouteRef" refer="CyclingRouteKey">
            <xs:selector xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/CyclingRoutes/CyclingRouteRef"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

    </xs:element>

    <!-- ========================== -->
    <!--        Collection types    -->
    <!-- ========================== -->

    <xs:complexType name="GuidesListType">
        <xs:sequence>
            <xs:element name="Guide" type="GuideType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClientsListType">
        <xs:sequence>
            <xs:element name="Client" type="ClientType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegionsListType">
        <xs:sequence>
            <xs:element name="Region" type="RegionType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================== -->
    <!--         Person types       -->
    <!-- ========================== -->

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="FirstName" type="xs:string"/>
            <xs:element name="LastName" type="xs:string"/>
            <xs:element name="Email" type="xs:string"/>
            <xs:element name="Phone" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="ClientType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="Address" type="AddressType"/>
                    <xs:element name="BirthDate" type="xs:date"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GuideType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <!-- For simplicity: languages are stored as a single comma-separated string -->
                    <xs:element name="Languages" type="xs:string"/>
                    <xs:element name="Specialty" type="xs:string"/>
                    <xs:element name="ExperienceYears" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ========================== -->
    <!--          Region            -->
    <!-- ========================== -->

    <xs:complexType name="RegionType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>

            <!-- Cycling routes for this region -->
            <xs:element name="CyclingRoutes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CyclingRoute" type="CyclingRouteType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Bike fleet for this region -->
            <xs:element name="Bikes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Bike" type="BikeType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Accommodations in this region -->
            <xs:element name="Accommodations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Accommodation" type="AccommodationType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Bike rental shops in this region
                 Parent container is required (for schema uniformity).
                 Individual BikeRental entries are optional (minOccurs="0"): a region can have an empty list.
            -->
            <xs:element name="BikeRentals">
                <xs:complexType>
                    <xs:sequence>
                        <!-- Allow zero or more BikeRental children -->
                        <xs:element name="BikeRental" type="BikeRentalType" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Tours offered in this region -->
            <xs:element name="Tours">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tour" type="TourType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ========================== -->
    <!--     Bikes / Accommodations -->
    <!-- ========================== -->

    <xs:complexType name="BikeType">
        <xs:sequence>
            <xs:element name="Brand" type="xs:string"/>
            <xs:element name="Model" type="xs:string"/>
            <xs:element name="Type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Road"/>
                        <xs:enumeration value="Mountain"/>
                        <xs:enumeration value="Electric"/>
                        <xs:enumeration value="Hybrid"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Available"/>
                        <xs:enumeration value="Reserved"/>
                        <xs:enumeration value="InMaintenance"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DailyPrice" type="PriceType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="BikeRentalType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Address" type="AddressType"/>
            <xs:element name="Phone" type="xs:string" minOccurs="0"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="AccommodationType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Hotel"/>
                        <xs:enumeration value="Hostel"/>
                        <xs:enumeration value="Guesthouse"/>
                        <xs:enumeration value="Apartment"/>
                        <xs:enumeration value="Camping"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address" type="AddressType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ========================== -->
    <!--        Tours & Events      -->
    <!-- ========================== -->

    <xs:complexType name="TourType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="DurationDays" type="xs:integer"/>

            <!-- Reuse the shared DifficultyType -->
            <xs:element name="Difficulty" type="DifficultyType"/>

            <xs:element name="BasePrice" type="PriceType"/>

            <!-- Scheduled departures for this tour -->
            <xs:element name="TourEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TourEvent" type="TourEventType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Strict TourEventType: require CyclingRoutes with at least one CyclingRouteRef -->
    <xs:complexType name="TourEventType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A TourEvent represents one scheduled departure of a Tour.
                StartDate and EndDate define the time interval of the event.
                Business rule: EndDate must be equal to or after StartDate.
                This constraint is NOT enforced by
                this XSD 1.0 schema; it must be checked by the application code
                (for example, in Python/Java after XML Schema validation), or by
                using an XSD 1.1 processor with an xs:assert on this type.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="MaxParticipants" type="xs:integer"/>

            <!-- Guides assigned to this event -->
            <xs:element name="Guides">
                <xs:complexType>
                    <xs:sequence>
                        <!-- At least one guide is required -->
                        <xs:element name="GuideRef" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Cycling routes used in this event (REQUIRED).
                 We require at least one CyclingRouteRef so that every TourEvent
                 explicitly references one or more predefined CyclingRoute elements. -->
            <xs:element name="CyclingRoutes">
                <xs:complexType>
                    <xs:sequence>
                        <!-- Require at least one route reference -->
                        <xs:element name="CyclingRouteRef" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Bookings for this event -->
            <xs:element name="EventBookings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Booking" type="BookingType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ========================== -->
    <!--       Booking / Payments   -->
    <!-- ========================== -->

    <xs:complexType name="BookingType">
        <xs:sequence>
            <xs:element name="BookingDate" type="xs:date"/>

            <!-- Client making the booking (IDREF to Client/@id) -->
            <xs:element name="ClientRef" type="xs:IDREF"/>

            <!-- Bikes chosen by the user (IDREF to Bike/@id) -->
            <xs:element name="BookedBikes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BookedBike" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Payments associated with this booking -->
            <xs:element name="Payments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Payment" type="PaymentType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="PaymentType">
        <xs:sequence>
            <xs:element name="Date" type="xs:date"/>
            <xs:element name="Amount" type="PriceType"/>
            <xs:element name="Method">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CreditCard"/>
                        <xs:enumeration value="BankTransfer"/>
                        <xs:enumeration value="Cash"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- ========================== -->
    <!--        Utility types       -->
    <!-- ========================== -->

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="ZipCode" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PriceType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <!-- Single currency for the whole platform -->
                <xs:attribute name="currency" type="xs:string" fixed="EUR"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Shared difficulty type used by both tours and routes -->
    <xs:simpleType name="DifficultyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy"/>
            <xs:enumeration value="Moderate"/>
            <xs:enumeration value="Hard"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================== -->
    <!--      Cycling route types   -->
    <!-- ========================== -->

    <!-- Distance in km (>= 0) -->
    <xs:simpleType name="DistanceType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Coordinates (latitude / longitude as decimals) -->
    <xs:complexType name="CoordinatesType">
        <xs:sequence>
            <xs:element name="Lat" type="xs:decimal"/>
            <xs:element name="Lng" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- CyclingRoute main type -->
    <xs:complexType name="CyclingRouteType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Distance" type="DistanceType"/>
            <xs:element name="Surface" type="xs:string"/>
            <xs:element name="Difficulty" type="DifficultyType"/>
            <xs:element name="Coordinates" type="CoordinatesType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

</xs:schema>
