operator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://dsti.com/bicycle-operator"
           xmlns:dsti="http://dsti.com/bicycle-operator"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="Client" type="dsti:Client_T" />
    <xs:element name="Guide" type="dsti:Guide_T" />
    <xs:element name="Region" type="dsti:Region_T" />
    <xs:element name="Address" type="dsti:Address_T" />
    <xs:element name="Accommodation" type="Accommodation_T" />
    <xs:element name="Bike" type="dsti:Bike_T" />
    <xs:element name="Tour" type="dsti:Tour_T" />
    <xs:element name="TourEvent" type="dsti:TourEvent_T" />
    <xs:element name="Booking" type="dsti:Booking_T" />
    <xs:element name="Payment" type="dsti:Payment_T" />
    <xs:element name="TourProgram" type="dsti:TourProgram_T" />
    <xs:element name="TourActivity" type="dsti:TourActivity_T" />
    <xs:element name="BikeRental" type="dsti:BikeRental_T" />
    <xs:element name="BookedAccommodation" type="dsti:BookedAccommodation_T" />
    <xs:element name="BookedBikeRental" type="dsti:BookedBikeRental_T" />
    <xs:element name="CyclingRoute" type="dsti:CyclingRoute_T" />
    <xs:element name="PhysicalLevel" type="dsti:PhysicalLevel_T" />
    <xs:element name="PaymentMethod" type="dsti:PaymentMethod_T" />
    <xs:element name="AccommodationCategory" type="dsti:AccommodationCategory_T" />
    <xs:element name="Language" type="dsti:Language_T" />
    <xs:element name="GuideSpecialty" type="dsti:GuideSpecialty_T" />
    <xs:element name="CyclingType" type="dsti:CyclingType_T" />
    <xs:element name="CyclingRouteDifficulty" type="CyclingRouteDifficulty_T" />
    <xs:element name="Distance" type="dsti:Distance_T" />
    <xs:element name="Duration" type="dsti:Duration_T" />
    <xs:element name="Point" type="dsti:Point_T" />
    <xs:element name="PricePerDay" type="dsti:EuroAmount_T" />
    <xs:element name="PricePerNight" type="dsti:EuroAmount_T" />
    <xs:element name="TotalAmount" type="dsti:EuroAmount_T" />
    <xs:element name="AmountPaid" type="dsti:EuroAmount_T" />
    <xs:element name="Salutation" type="dsti:Salutation_T" />
    <xs:element name="Coordinates" type="dsti:Coordinates_T" />
    <xs:element name="TourProgramDay" type="dsti:TourProgramDay_T" />
    <xs:element name="CreditCardPayment" type="dsti:CreditCardPayment_T" />
    <xs:element name="BankTransferPayment" type="dsti:BankTransferPayment_T" />
    <xs:element name="PayPalPayment" type="dsti:PayPalPayment_T" />


    <xs:element name="Operator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsti:Guides" maxOccurs="1" />
                <xs:element ref="dsti:Clients" maxOccurs="1" />
                <xs:element ref="dsti:Regions" maxOccurs="1" />
                <xs:element ref="dsti:PhysicalLevels" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Guides">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Guide" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>

        <xs:key name="GuideKey">
            <xs:selector xpath="Guides/Guide" />
            <xs:field xpath="@id" />
        </xs:key>

    </xs:element>


    <xs:element name="Clients">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Client" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>

        <xs:key name="ClientKey">
            <xs:selector xpath="Clients/Client" />
            <xs:field xpath="@id" />
        </xs:key>
    </xs:element>


    <xs:element name="Regions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Region" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="PhysicalLevels">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PhysicalLevel" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="PhysicalLevel_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="UserProfile" type="xs:string" />
            <xs:element name="TourProfile" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:simpleType name="CyclingType_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mountain" />
            <xs:enumeration value="Road" />
            <xs:enumeration value="Hybrid" />
            <xs:enumeration value="E-Bike" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CyclingRouteDifficulty_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy" />
            <xs:enumeration value="Moderate" />
            <xs:enumeration value="Hard" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PaymentMethod_T">
        <xs:choice>
            <xs:element ref="CreditCardPayment" />
            <xs:element ref="BankTransferPayment" />
            <xs:element ref="PayPalPayment" />
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="PaymentIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="PAY\d{12}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PayPalPayment_T">
        <xs:sequence>
            <xs:element name="Email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Credit Card -->
    <xs:complexType name="CreditCardPayment_T">
        <xs:sequence>
            <xs:element name="CardHolder" type="xs:string" />
            <xs:element name="CardNumber" type="xs:string" />
            <xs:element name="Expiry" type="xs:gYearMonth" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BankTransferPayment_T">
        <xs:sequence>
            <xs:element name="AccountName" type="xs:string" />
            <xs:element name="IBAN" type="xs:string" />
            <xs:element name="BIC" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="AccommodationCategory_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3-star Hotel" />
            <xs:enumeration value="3-star Hostel" />
            <xs:enumeration value="3-star Guesthouse" />
            <xs:enumeration value="4-star Hotel" />
            <xs:enumeration value="4-star Guesthouse" />
            <xs:enumeration value="5-star Hotel" />
            <xs:enumeration value="5-star Guesthouse" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Language_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="English" />
            <xs:enumeration value="French" />
            <xs:enumeration value="German" />
            <xs:enumeration value="Italian" />
            <xs:enumeration value="Spanish" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GuideSpecialty_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mountain Biking" />
            <xs:enumeration value="Endurance Tours" />
            <xs:enumeration value="Road Biking" />
            <xs:enumeration value="Scenic Tours" />
            <xs:enumeration value="Gravel Tours" />
            <xs:enumeration value="E-Bike Tours" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="EuroAmount_T">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" type="xs:string" use="required" fixed="EUR" />
                <xs:attribute name="precision" type="xs:integer" use="optional" default="2" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Duration_T">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="unit" use="optional" default="hours">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="hours" />
                            <xs:enumeration value="days" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="BaseCoordinate_T">
        <xs:restriction base="xs:decimal" />
    </xs:simpleType>

    <xs:simpleType name="Latitude_T">
        <xs:restriction base="BaseCoordinate_T">
            <xs:minInclusive value="-90" />
            <xs:maxInclusive value="90" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Longitude_T">
        <xs:restriction base="BaseCoordinate_T">
            <xs:minInclusive value="-180" />
            <xs:maxInclusive value="180" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Point_T">
        <xs:attribute name="lat" type="Latitude_T" use="required" />
        <xs:attribute name="lon" type="Longitude_T" use="required" />
    </xs:complexType>


    <xs:complexType name="Coordinates_T">
        <xs:sequence>
            <xs:element name="Point" type="Point_T" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="Salutation_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr" />
            <xs:enumeration value="Mrs" />
            <xs:enumeration value="Ms" />
            <xs:enumeration value="Miss" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Person_T" abstract="true">
        <xs:sequence>
            <xs:element ref="Salutation" />
            <xs:element name="FirstName" type="xs:string" />
            <xs:element name="LastName" type="xs:string" />
            <xs:element name="DateOfBirth" type="xs:date" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Guide_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="ExperienceYears" type="xs:positiveInteger" />
                    <xs:element name="Languages">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="Language" minOccurs="1" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Specialties">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="GuideSpecialty" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="Client_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element ref="Address" />
                </xs:sequence>
                 <xs:attribute name="id" type="xs:ID" use="required" />
            </xs:extension>
           
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Distance_T">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" use="optional" default="km">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="km" />
                            <xs:enumeration value="miles" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CyclingRoute_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element ref="Distance" />
            <xs:element name="Surface" type="xs:string" />
            <xs:element ref="CyclingRouteDifficulty" />
            <xs:element ref="Coordinates" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="Accommodation_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element ref="AccommodationCategory" />
            <xs:element ref="Address" />
            <xs:element name="Phone" type="xs:string" />
            <xs:element name="Email" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="Address_T">
        <xs:sequence>
            <xs:element name="Street" type="xs:string" />
            <xs:element name="City" type="xs:string" />
            <xs:element name="PostalCode" type="xs:string" />
            <xs:element name="Country" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Bike_T">
        <xs:sequence>
            <xs:element name="Brand" type="xs:string" />
            <xs:element name="Model" type="xs:string" />
            <xs:element name="CyclingType_T" />
            <xs:element ref="PricePerDay" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:complexType name="BikeRental_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Phone" type="xs:string" minOccurs="0" />
            <xs:element name="Email" type="xs:string" minOccurs="0" />
            <xs:element ref="Address" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="TourActivity_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element ref="Duration" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TourProgramDay_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element name="Activities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="TourActivity" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="number" type="xs:integer" use="required" />
    </xs:complexType>


    <xs:complexType name="TourProgram_T">
        <xs:sequence>
            <xs:element ref="TourProgramDay" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="TourEvent_T">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date" />
            <xs:element name="Guides">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GuideRef" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CyclingRoutes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CyclingRouteRef" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EventBookings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Booking" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tour_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element ref="Duration" />
            <xs:element name="CyclingType_T" type="CyclingType_T" />
            <xs:element name="PhysicalLevels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Level" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="TourProgram" />
            <xs:element name="TourEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="TourEvent" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- ========================== -->
    <!-- Booking Types               -->
    <!-- ========================== -->
    <xs:complexType name="BookedAccommodation_T">
        <xs:sequence>
            <xs:element name="AccommodationRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Guests" type="xs:positiveInteger" />
            <xs:element name="Nights" type="xs:positiveInteger" />
            <xs:element ref="PricePerNight" />
            <xs:element ref="TotalAmount" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BookedBikeRental_T">
        <xs:sequence>
            <xs:element name="BikeRentalRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="BikeRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Quantity" type="xs:positiveInteger" />
            <xs:element name="Days" type="xs:positiveInteger" />
            <xs:element ref="PricePerDay" />
            <xs:element ref="TotalAmount" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Payment_T">
        <xs:sequence>
            <xs:element name="AmountPaid" type="xs:decimal" />
            <xs:element name="PaymentDate" type="xs:date" />
            <xs:element ref="PaymentMethod" />
        </xs:sequence>
        <xs:attribute name="id" type="PaymentIdType" use="required" />
    </xs:complexType>

    <xs:complexType name="Booking_T">
        <xs:sequence>
            <xs:element name="BookingClientRef" type="xs:IDREF" />
            <xs:element name="Participants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientRef" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookedAccommodations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BookedAccommodation" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookedBikeRentals">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BookedBikeRental" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="Payment" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="Region_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Country" type="xs:string" />

            <!-- Cycling Routes -->
            <xs:element name="CyclingRoutes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="CyclingRoute" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Accommodations -->
            <xs:element name="Accommodations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Accommodation" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Bike Rentals -->
            <xs:element name="BikeRentals">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="BikeRental" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Tours -->
            <xs:element name="Tours">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Tour" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

</xs:schema>