schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/bicycle-operator"
    xmlns="http://example.com/bicycle-operator"
    elementFormDefault="qualified">

    <!-- ========================== -->
    <!-- Top-level Elements         -->
    <!-- ========================== -->
    <xs:element name="Client" type="ClientType" />
    <xs:element name="Guide" type="GuideType" />
    <xs:element name="Address" type="AddressType" />
    <xs:element name="Accommodation" type="AccommodationType" />
    <xs:element name="Bike" type="BikeType" />
    <xs:element name="Tour" type="TourType" />
    <xs:element name="TourEvent" type="TourEventType" />
    <xs:element name="Booking" type="BookingType" />
    <xs:element name="Payment" type="PaymentType" />
    <xs:element name="TourProgram" type="TourProgramType" />
    <xs:element name="TourActivity" type="TourActivityType" />
    <xs:element name="Region" type="RegionType" />
    <xs:element name="BikeRental" type="BikeRentalType" />
    <xs:element name="BookedAccommodation" type="BookedAccommodationType" />
    <xs:element name="BookedBikeRental" type="BookedBikeRentalType" />
    <xs:element name="PhysicalLevelsCatalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PhysicalLevel" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="UserProfile" type="xs:string" />
                            <xs:element name="TourProfile" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="CyclingRouteType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Distance">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="unit" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Surface" type="xs:string" />
            <xs:element name="Difficulty">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Easy" />
                        <xs:enumeration value="Moderate" />
                        <xs:enumeration value="Hard" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Coordinates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Point" maxOccurs="2" minOccurs="2">
                            <xs:complexType>
                                <xs:attribute name="lat" type="xs:decimal" use="required" />
                                <xs:attribute name="lon" type="xs:decimal" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="AccommodationType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Category">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="3-star Hotel" />
                        <xs:enumeration value="3-star Hostel" />
                        <xs:enumeration value="3-star Guesthouse" />
                        <xs:enumeration value="4-star Hotel" />
                        <xs:enumeration value="4-star Guesthouse" />
                        <xs:enumeration value="5-star Hotel" />
                        <xs:enumeration value="5-star Guesthouse" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Address" type="AddressType" />
            <xs:element name="Phone" type="xs:string" />
            <xs:element name="Email" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- ========================== -->
    <!-- Base Types                 -->
    <!-- ========================== -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string" />
            <xs:element name="City" type="xs:string" />
            <xs:element name="PostalCode" type="xs:string" />
            <xs:element name="Country" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="Title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Mr" />
                        <xs:enumeration value="Ms" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FirstName" type="xs:string" />
            <xs:element name="LastName" type="xs:string" />
            <xs:element name="DateOfBirth" type="xs:date" />
        </xs:sequence>
    </xs:complexType>

    <!-- ========================== -->
    <!-- Client / Guide Types       -->
    <!-- ========================== -->
    <xs:complexType name="ClientType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element name="Address" type="AddressType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GuideType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="ExperienceYears" type="xs:positiveInteger" />
                    <xs:element name="Languages">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Language" minOccurs="1" maxOccurs="unbounded">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="English" />
                                            <xs:enumeration value="French" />
                                            <xs:enumeration value="German" />
                                            <xs:enumeration value="Italian" />
                                            <xs:enumeration value="Spanish" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Specialties">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Specialty" maxOccurs="unbounded">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Mountain Biking" />
                                            <xs:enumeration value="Endurance Tours" />
                                            <xs:enumeration value="Road Biking" />
                                            <xs:enumeration value="Scenic Tours" />
                                            <xs:enumeration value="Gravel Tours" />
                                            <xs:enumeration value="E-Bike Tours" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Email" type="xs:string" />
                                <xs:element name="Phone" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ========================== -->
    <!-- Bike / Rental Types        -->
    <!-- ========================== -->
    <xs:complexType name="BikeType">
        <xs:sequence>
            <xs:element name="Brand" type="xs:string" />
            <xs:element name="Model" type="xs:string" />
            <xs:element name="Type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Mountain" />
                        <xs:enumeration value="Road" />
                        <xs:enumeration value="Hybrid" />
                        <xs:enumeration value="E-Bike" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PricePerDay" type="xs:decimal" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:complexType name="BikeRentalType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Address" type="AddressType" />
            <xs:element name="Phone" type="xs:string" minOccurs="0" />
            <xs:element name="Email" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- ========================== -->
    <!-- Tour / Event Types          -->
    <!-- ========================== -->

    <xs:complexType name="TourActivityType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Duration">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="unit" type="xs:string" use="optional"
                                default="hours" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="TourProgramType">
        <xs:sequence>
            <xs:element name="Day" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Title" type="xs:string" />
                        <xs:element name="Activities">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TourActivity" type="TourActivityType"
                                        maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="number" type="xs:integer" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="TourEventType">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date" />
            <xs:element name="Guides">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GuideRef" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EventBookings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Booking" type="BookingType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TourType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element name="Duration" type="xs:string" />
            <xs:element name="CyclingType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="MTB" />
                        <xs:enumeration value="RoadCycling" />
                        <xs:enumeration value="InsideTour" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PhysicalLevels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Level" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TourProgram" type="TourProgramType" />
            <xs:element name="TourEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TourEvent" type="TourEventType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- ========================== -->
    <!-- Booking Types               -->
    <!-- ========================== -->
    <xs:complexType name="BookedAccommodationType">
        <xs:sequence>
            <xs:element name="AccommodationRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Guests" type="xs:positiveInteger" />
            <xs:element name="Nights" type="xs:positiveInteger" />
            <xs:element name="PricePerNight">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="TotalAmount">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BookedBikeRentalType">
        <xs:sequence>
            <xs:element name="BikeRentalRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="BikeRef">
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Quantity" type="xs:positiveInteger" />
            <xs:element name="Days" type="xs:positiveInteger" />
            <xs:element name="PricePerDay">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="TotalAmount">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentType">
        <xs:sequence>
            <xs:element name="AmountPaid" type="xs:decimal" />
            <xs:element name="PaymentDate" type="xs:date" />
            <xs:element name="PaymentMethod">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Credit Card" />
                        <xs:enumeration value="Bank Transfer" />
                        <xs:enumeration value="PayPal" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:complexType name="BookingType">
        <xs:sequence>
            <xs:element name="BookingClientRef" type="xs:IDREF" />
            <xs:element name="Participants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientRef" type="xs:IDREF" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookedAccommodations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BookedAccommodation" type="BookedAccommodationType"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookedBikeRentals">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BookedBikeRental" type="BookedBikeRentalType"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Payment" type="PaymentType" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>


    <xs:complexType name="RegionType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Country" type="xs:string" />

            <!-- Cycling Routes -->
            <xs:element name="CyclingRoutes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CyclingRoute" type="CyclingRouteType"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Accommodations -->
            <xs:element name="Accommodations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Accommodation" type="AccommodationType"
                            maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Bike Rentals -->
            <xs:element name="BikeRentals">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BikeRental" type="BikeRentalType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Tours -->
            <xs:element name="Tours">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tour" type="TourType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

</xs:schema>