database/BICYCLE_OPERATOR.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="ReferenceData" type="ReferenceData_T" />

    <xs:element name="Operator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ReferenceData" maxOccurs="1" />
                <xs:element ref="Guides" maxOccurs="1" />
                <xs:element ref="Clients" maxOccurs="1" />
                <xs:element ref="Regions" maxOccurs="1" />

            </xs:sequence>
        </xs:complexType>
        <xs:key name="KEY_Bike">
            <xs:selector xpath="Bikes/Bike" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="KEYREF_BookedBikeRental_BikeRef_TO_Bike" refer="KEY_Bike">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/BookedBikeRentals/BookedBikeRental/BikeRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>

        <xs:key name="KEY_PhysicalLevel">
            <xs:selector xpath="PhysicalLevels/PhysicalLevel" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="KEYREF_Tour_PhysicalLevelRef_TO_PhysicalLevel" refer="KEY_PhysicalLevel">
            <xs:selector xpath="Regions/Region/Tours/Tour/PhysicalLevels/PhysicalLevelRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>


        <xs:key name="KEY_Guide">
            <xs:selector xpath="Guides/Guide" />
            <xs:field xpath="@id" />
        </xs:key>


        <xs:keyref name="KEYREF_GuideRef_TO_Guide" refer="KEY_Guide">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/Guides/GuideRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>


        <xs:key name="KEY_Client">
            <xs:selector xpath="Clients/Client" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="KEYREF_BookingClientRef_TO_Client" refer="KEY_Client">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/BookingClientRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>

        <xs:keyref name="KEYREF_ParticipantRef_TO_Client" refer="KEY_Client">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/Participants/ParticipantRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>


        <xs:key name="KEY_CyclingRoute">
            <xs:selector xpath="Regions/Region/CyclingRoutes/CyclingRoute" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="KEYREF_CyclingRouteRef_TO_CyclingRoute" refer="KEY_CyclingRoute">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/CyclingRoutes/CyclingRouteRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>

        <xs:key name="KEY_Accommodation">
            <xs:selector xpath="Regions/Region/Accommodations/Accommodation" />
            <xs:field xpath="@id" />
        </xs:key>


        <xs:keyref name="KEYREF_AccommodationRef_TO_Accommodation" refer="KEY_Accommodation">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/BookedAccommodations/BookedAccommodation/AccommodationRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>


        <xs:key name="KEY_BikeRental">
            <xs:selector xpath="Regions/Region/BikeRentals/BikeRental" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="KEYREF_BikeRentalRef_TO_BikeRental" refer="KEY_BikeRental">
            <xs:selector
                xpath="Regions/Region/Tours/Tour/TourEvents/TourEvent/EventBookings/Booking/BookedBikeRentals/BookedBikeRental/BikeRentalRef" />
            <xs:field xpath="@ref" />
        </xs:keyref>


    </xs:element>

    <xs:complexType name="ReferenceData_T">
        <xs:sequence>
            <xs:element ref="TourTypes" />
            <xs:element ref="Countries" />
            <xs:element ref="Languages" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TourTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Country" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Languages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Language" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TourType" type="TourType_T" />
    <xs:complexType name="TourType_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Language" type="Language_T" />
    <xs:complexType name="Language_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="LanguageCode_T" use="required" />
    </xs:complexType>

    <!-- ISO 639-1 -->
    <xs:simpleType name="LanguageCode_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Country" type="Country_T" />
    <xs:complexType name="Country_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="CountryCode_T" use="required" />
    </xs:complexType>


    <xs:simpleType name="CountryCode_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Guides">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Guide" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="Clients">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Client" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="Regions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Region" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="PaymentID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="PAY-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="C-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GuideID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="G-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BookingID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="BK-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BikeID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="B-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccommodationRenterID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="A-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BikeRenterID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="BR-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TourEventID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="TRE-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TourID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="TR-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CyclingRouteID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="CY-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RegionID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="R-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="CyclingRouteDifficulty" type="CyclingRouteDifficulty_T" />
    <xs:simpleType name="CyclingRouteDifficulty_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy" />
            <xs:enumeration value="Moderate" />
            <xs:enumeration value="Hard" />
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="PriceEUR_T">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" type="xs:string" use="required" fixed="EUR" />
                <xs:attribute name="precision" type="xs:integer" use="optional" default="2" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="Duration_T">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="unit" use="optional" default="hours">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="hours" />
                            <xs:enumeration value="days" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:simpleType name="DistanceValue_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Distance_T">
        <xs:simpleContent>
            <xs:extension base="DistanceValue_T">
                <xs:attribute name="unit" use="optional" default="km">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="km" />
                            <xs:enumeration value="miles" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="Person_T" abstract="true">
        <xs:sequence>
            <xs:element ref="Salutation" />
            <xs:element name="FirstName" type="xs:string" />
            <xs:element name="LastName" type="xs:string" />
            <xs:element name="DateOfBirth" type="xs:date" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Salutation" type="Salutation_T" />
    <xs:simpleType name="Salutation_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr" />
            <xs:enumeration value="Mrs" />
            <xs:enumeration value="Ms" />
            <xs:enumeration value="Miss" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Guide" type="Guide_T" />
    <xs:complexType name="Guide_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="ExperienceYears" type="xs:positiveInteger" />
                    <xs:element name="Languages">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="LanguageRef" minOccurs="1" maxOccurs="unbounded"
                                    type="xs:IDREF" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="GuideID_T" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Client" type="Client_T" />
    <xs:complexType name="Client_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element ref="Address" />
                </xs:sequence>
                <xs:attribute name="id" type="ClientID_T" use="required" />
            </xs:extension>

        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Address" type="Address_T" />
    <xs:complexType name="Address_T">
        <xs:sequence>
            <xs:element name="Street" type="xs:string" />
            <xs:element name="City" type="xs:string" />
            <xs:element name="PostalCode" type="xs:string" />
            <xs:element name="CountryRef" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <!-- pulled-out list elements so they can be reused via refs -->
    <xs:element name="Region" type="Region_T" />
    <xs:complexType name="Region_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="CountryRef" type="xs:IDREF" />

            <!-- reuse pulled-out lists via ref -->
            <xs:element ref="CyclingRoutes" minOccurs="0" />
            <xs:element ref="AccommodationRenters" minOccurs="0" />
            <xs:element ref="BikeRentals" minOccurs="0" />
            <xs:element ref="Tours" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="RegionID_T" use="required" />
    </xs:complexType>
    


    <xs:element name="CyclingRoutes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CyclingRoute" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccommodationRenters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccommodationRenter" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BikeRentals">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BikeRental" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Tours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Tour" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CyclingRoute" type="CyclingRoute_T" />
    <xs:complexType name="CyclingRoute_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Distance" type="Distance_T"/>
            <xs:element name="Surface" type="xs:string" />
            <xs:element ref="CyclingRouteDifficulty" />
            <xs:element ref="Coordinates" />
        </xs:sequence>
        <xs:attribute name="id" type="CyclingRouteID_T" use="required" />
    </xs:complexType>

    <xs:simpleType name="Latitude_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90" />
            <xs:maxInclusive value="90" />
            <xs:fractionDigits value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Longitude_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180" />
            <xs:maxInclusive value="180" />
            <xs:fractionDigits value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Point_T">
        <xs:attribute name="lat" type="Latitude_T" use="required" />
        <xs:attribute name="lon" type="Longitude_T" use="required" />
    </xs:complexType>

    <xs:element name="Coordinates" type="Coordinates_T" />
    <xs:complexType name="Coordinates_T">
        <xs:sequence>
            <xs:element name="Point" type="Point_T" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="AccommodationRenter" type="AccommodationRenter_T" />
    <xs:complexType name="AccommodationRenter_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element ref="Address" />
            <xs:element name="Phone" type="xs:string" />
            <xs:element name="Email" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="AccommodationRenterID_T" use="required" />
    </xs:complexType>
    <!-- Bike rental / bike renter definitions (pulled-out list elements as global refs) -->

    <xs:element name="BikeRental">
        <xs:complexType>
            <xs:sequence>
                <!-- reference the pulled-out lists -->
                <xs:element ref="BikeRenters" />
                <xs:element ref="Bikes" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- pulled-out list of bike renters so it can be referenced via ref -->
    <xs:element name="BikeRenters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BikeRenter" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BikeRenter" type="BikeRenter_T" />
    <xs:complexType name="BikeRenter_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Phone" type="xs:string" minOccurs="0" />
            <xs:element name="Email" type="xs:string" minOccurs="0" />
            <xs:element ref="Address" />
        </xs:sequence>
        <xs:attribute name="id" type="BikeRenterID_T" use="required" />
    </xs:complexType>

    <!-- pulled-out list of bikes for a bike rental (separate from the global top-level Bikes list) -->
    <xs:element name="Bikes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Bike" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Bike" type="Bike_T" />
    <xs:complexType name="Bike_T">
        <xs:sequence>
            <xs:element name="Brand" type="xs:string" />
            <xs:element name="Model" type="xs:string" />
            <xs:element name="BikeType" type="xs:string"/>
            <xs:element name="PricePerDay" type="PriceEUR_T" />
        </xs:sequence>
        <xs:attribute name="id" type="BikeID_T" use="required" />
    </xs:complexType>

    <xs:element name="Tour" type="Tour_T" />
    <xs:complexType name="Tour_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element name="Duration" type="Duration_T" />
            <xs:element ref="TourType" />
            <xs:element ref="TourProgram" />
            <xs:element ref="TourEvents" />
        </xs:sequence>
        <xs:attribute name="id" type="TourID_T" use="required" />
    </xs:complexType>

    <xs:element name="TourProgram" type="TourProgram_T" />
    <xs:complexType name="TourProgram_T">
        <xs:sequence>
            <xs:element ref="TourProgramDay" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TourProgramDay" type="TourProgramDay_T" />
    <xs:complexType name="TourProgramDay_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element ref="TourActivities" />
        </xs:sequence>
        <xs:attribute name="number" type="xs:integer" use="required" />
    </xs:complexType>

    <xs:element name="TourActivities">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourActivity" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TourActivity" type="TourActivity_T" />
    <xs:complexType name="TourActivity_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Duration" type="Duration_T" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="TourEvents">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourEvent" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TourEvent" type="TourEvent_T" />
    <xs:complexType name="TourEvent_T">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date" />
            <xs:element name="Price" type="PriceEUR_T" />
            <xs:element ref="EventGuides" />
            <xs:element ref="EventAccommodations" />
            <xs:element ref="EventBikes" />
            <xs:element ref="EventCyclingRoutes" />
            <xs:element ref="EventBookings" />
        </xs:sequence>
        <xs:attribute name="id" type="TourEventID_T" use="required" />
    </xs:complexType>

    <xs:element name="EventGuides">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GuideRef" type="xs:IDREF" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventAccommodations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventAccommodation" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventBikes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventBikeRental" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventCyclingRoutes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CyclingRouteRef" type="xs:IDREF" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventBookings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Booking" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventAccommodation" type="EventAccommodation_T" />
    <xs:complexType name="EventAccommodation_T">
        <xs:sequence>
            <xs:element name="AccommodationRenterRef" type="xs:IDREF" />
            <xs:element ref="AccommodationQuality" minOccurs="0" />
            <xs:element name="Nights" type="xs:positiveInteger" />
            <xs:element name="PricePerNight" type="PriceEUR_T" />
        </xs:sequence>
    </xs:complexType>

    
    <xs:element name="AccommodationQuality" type="AccommodationQuality_T" />
    <xs:simpleType name="AccommodationQuality_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3-star " />
            <xs:enumeration value="4-star" />
            <xs:enumeration value="5-star" />
        </xs:restriction>
    </xs:simpleType>



    <xs:element name="EventBikeRental" type="EventBikeRental_T" />
    <xs:complexType name="EventBikeRental_T">
        <xs:sequence>
            <xs:element name="BikeRef" type="xs:IDREF" />
            <xs:element name="BikeRenterRef" type="xs:IDREF" />
            <xs:element name="PricePerDay" type="PriceEUR_T" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Booking" type="Booking_T" />
    <xs:complexType name="Booking_T">
        <xs:sequence>
            <xs:element name="ClientRef" type="xs:IDREF" />
            <xs:element name="ParticipantsCount" type="xs:positiveInteger" />
            <xs:element ref="BookedAccommodations" />
            <xs:element ref="BookedBikes" />
            <xs:element ref="Payment" />
        </xs:sequence>
        <xs:attribute name="id" type="BookingID_T" use="required" />
    </xs:complexType>

    <xs:element name="BookedAccommodations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BookedAccommodation" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BookedBikes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BookedBike" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BookedAccommodation" type="BookedAccommodation_T" />
    <xs:complexType name="BookedAccommodation_T">
        <xs:sequence>
            <xs:element name="EventAccommodationRef" type="xs:IDREF" />
            <xs:element name="GuestCount" type="xs:positiveInteger" />
            <xs:element name="Nights" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BookedBike" type="BookedBike_T" />
    <xs:complexType name="BookedBike_T">
        <xs:sequence>
            <xs:element name="EventBikeRef" type="xs:IDREF" />
            <xs:element name="Quantity" type="xs:positiveInteger" />
            <xs:element name="Days" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>
    <!-- Payment element (global) and separate type -->
    <xs:element name="Payment" type="Payment_T" />

    <xs:complexType name="Payment_T">
        <xs:sequence>
            <xs:element name="AmountPaid" type="PriceEUR_T" />
            <xs:element name="Date" type="xs:date" />
        </xs:sequence>
        <xs:attribute name="id" type="PaymentID_T" use="required" />
    </xs:complexType>

</xs:schema>