database/BICYCLE_OPERATOR.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Operator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ReferenceData" maxOccurs="1" />
                <xs:element ref="Guides" maxOccurs="1" />
                <xs:element ref="Clients" maxOccurs="1" />
                <xs:element ref="Regions" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReferenceData" type="ReferenceData_T" />
    <xs:complexType name="ReferenceData_T">
        <xs:sequence>
            <xs:element ref="BikeModels" />
            <xs:element ref="TourTypes" />
            <xs:element ref="Countries" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BikeModels">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BikeModel" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TourTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Country" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="BikeModel" type="BikeModel_T" />
    <xs:complexType name="BikeModel_T">
        <xs:sequence>
            <xs:element name="Brand" type="xs:string" />
            <xs:element name="Model" type="xs:string" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="BikeModelID_T" use="required" />
    </xs:complexType>

     <xs:simpleType name="BikeModelID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="BM-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="TourType" type="TourType_T" />
    <xs:complexType name="TourType_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="TourTypeID_T" use="required" />
    </xs:complexType>

    <xs:simpleType name="TourTypeID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="TT-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Country" type="Country_T" />
    <xs:complexType name="Country_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="code" type="CountryCode_T" use="required" />
    </xs:complexType>


    <xs:simpleType name="CountryCode_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Guides">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Guide" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="Clients">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Client" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="Regions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Region" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="CyclingRouteDifficulty" type="CyclingRouteDifficulty_T" />
    <xs:simpleType name="CyclingRouteDifficulty_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy" />
            <xs:enumeration value="Moderate" />
            <xs:enumeration value="Hard" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="PriceEUR_T">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" type="xs:string" use="required" fixed="EUR" />
                <xs:attribute name="precision" type="xs:integer" use="optional" default="2" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="Duration_T">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="unit" use="optional" default="hours">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="hours" />
                            <xs:enumeration value="days" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:simpleType name="DistanceValue_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Distance_T">
        <xs:simpleContent>
            <xs:extension base="DistanceValue_T">
                <xs:attribute name="unit" use="optional" default="km">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="km" />
                            <xs:enumeration value="miles" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="Person_T" abstract="true">
        <xs:sequence>
            <xs:element ref="Salutation" />
            <xs:element name="FirstName" type="xs:string" />
            <xs:element name="LastName" type="xs:string" />
            <xs:element name="DateOfBirth" type="xs:date" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Salutation" type="Salutation_T" />
    <xs:simpleType name="Salutation_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr" />
            <xs:enumeration value="Mrs" />
            <xs:enumeration value="Ms" />
            <xs:enumeration value="Miss" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Guide" type="Guide_T" />
    <xs:complexType name="Guide_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="ExperienceYears" type="xs:positiveInteger" />
                    <xs:element ref="SpokenLanguages" />
                </xs:sequence>
                <xs:attribute name="id" type="GuideID_T" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="SpokenLanguages" type="SpokenLanguages_T" />
    <xs:simpleType name="SpokenLanguages_T">
        <xs:list itemType="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="GuideID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="G-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Client" type="Client_T" />
    <xs:complexType name="Client_T">
        <xs:complexContent>
            <xs:extension base="Person_T">
                <xs:sequence>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone" type="xs:string" />
                    <xs:element ref="Address" />
                </xs:sequence>
                <xs:attribute name="id" type="ClientID_T" use="required" />
            </xs:extension>

        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="ClientID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="C-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Address" type="Address_T" />
    <xs:complexType name="Address_T">
        <xs:sequence>
            <xs:element name="Street" type="xs:string" />
            <xs:element name="City" type="xs:string" />
            <xs:element name="PostalCode" type="xs:string" />
            <xs:element name="CountryRef" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Region" type="Region_T" />
    <xs:complexType name="Region_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="CountryRef" type="xs:IDREF" />
            <xs:element ref="CyclingRoutes" minOccurs="0" />
            <xs:element ref="AccommodationRenters" minOccurs="0" />
            <xs:element ref="BikeRenters" minOccurs="0" />
            <xs:element ref="Tours" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="CyclingRoutes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CyclingRoute" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccommodationRenters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccommodationRenter" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BikeRenters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BikeRenter" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Tours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Tour" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CyclingRoute" type="CyclingRoute_T" />
    <xs:complexType name="CyclingRoute_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Distance" type="Distance_T" />
            <xs:element name="Surface" type="xs:string" />
            <xs:element ref="CyclingRouteDifficulty" />
            <xs:element ref="Coordinates" />
        </xs:sequence>
        <xs:attribute name="id" type="CyclingRouteID_T" use="required" />
    </xs:complexType>

    <xs:simpleType name="CyclingRouteID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="CY-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="Latitude_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90" />
            <xs:maxInclusive value="90" />
            <xs:fractionDigits value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Longitude_T">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180" />
            <xs:maxInclusive value="180" />
            <xs:fractionDigits value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Point_T">
        <xs:attribute name="lat" type="Latitude_T" use="required" />
        <xs:attribute name="lon" type="Longitude_T" use="required" />
    </xs:complexType>

    <xs:element name="Coordinates" type="Coordinates_T" />
    <xs:complexType name="Coordinates_T">
        <xs:sequence>
            <xs:element name="Point" type="Point_T" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="AccommodationRenter" type="AccommodationRenter_T" />
    <xs:complexType name="AccommodationRenter_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element ref="Address" />
            <xs:element name="Phone" type="xs:string" />
            <xs:element name="Email" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="AccommodationRenterID_T" use="required" />
    </xs:complexType>

    <xs:simpleType name="AccommodationRenterID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="A-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="BikeRenter" type="BikeRenter_T" />
    <xs:complexType name="BikeRenter_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Phone" type="xs:string" minOccurs="0" />
            <xs:element name="Email" type="xs:string" minOccurs="0" />
            <xs:element ref="Address" />
        </xs:sequence>
        <xs:attribute name="id" type="BikeRenterID_T" use="required" />
    </xs:complexType>


    <xs:simpleType name="BikeRenterID_T">
        <xs:restriction base="xs:ID">
            <xs:pattern value="BR-\d{4}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Tour" type="Tour_T" />
    <xs:complexType name="Tour_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element name="Duration" type="Duration_T" />
            <xs:element name="TourTypeRef" type="xs:IDREF" />
            <xs:element ref="TourProgram" />
            <xs:element ref="TourEvents" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TourProgram" type="TourProgram_T" />
    <xs:complexType name="TourProgram_T">
        <xs:sequence>
            <xs:element ref="TourProgramDay" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="TourProgramDay" type="TourProgramDay_T" />
    <xs:complexType name="TourProgramDay_T">
        <xs:sequence>
            <xs:element name="Title" type="xs:string" />
            <xs:element ref="TourActivities" />
        </xs:sequence>
        <xs:attribute name="number" type="xs:integer" use="required" />
    </xs:complexType>

    <xs:element name="TourActivities">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourActivity" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TourActivity" type="TourActivity_T" />
    <xs:complexType name="TourActivity_T">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Duration" type="Duration_T" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="TourEvents">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TourEvent" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TourEvent" type="TourEvent_T" />
    <xs:complexType name="TourEvent_T">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date" />
            <xs:element name="Price" type="PriceEUR_T" />
            <xs:element ref="EventGuides" />
            <xs:element ref="EventAccommodations" />
            <xs:element ref="EventBikes" />
            <xs:element ref="EventCyclingRoutes" />
            <xs:element ref="EventBookings" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="EventGuides">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GuideRef" type="xs:IDREF" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventAccommodations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventAccommodation" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventBikes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EventBikeRental" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventCyclingRoutes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CyclingRouteRef" type="xs:IDREF" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventBookings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Booking" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EventAccommodation" type="EventAccommodation_T" />
    <xs:complexType name="EventAccommodation_T">
        <xs:sequence>
            <xs:element name="AccommodationRenterRef" type="xs:IDREF" />
            <xs:element ref="AccommodationQuality" minOccurs="0" />
            <xs:element name="Nights" type="xs:positiveInteger" />
            <xs:element name="PricePerNight" type="PriceEUR_T" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="AccommodationQuality" type="AccommodationQuality_T" />
    <xs:simpleType name="AccommodationQuality_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3-star " />
            <xs:enumeration value="4-star" />
            <xs:enumeration value="5-star" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="EventBikeRental" type="EventBikeRental_T" />
    <xs:complexType name="EventBikeRental_T">
        <xs:sequence>
            <xs:element name="BikeModelRef" type="xs:IDREF" />
            <xs:element name="BikeRenterRef" type="xs:IDREF" />
            <xs:element name="PricePerDay" type="PriceEUR_T" />
            <xs:element name="AvailableQuantity" type="xs:positiveInteger" />
            <xs:element ref="BikeFrameSize" />
        </xs:sequence>
        <xs:attribute name="id" type="EventBikeRentalID_T" />
    </xs:complexType>

    <xs:simpleType name="EventBikeRentalID_T">
        <xs:restriction base="xs:string">
            <xs:pattern value="BR-\d{4}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="BikeFrameSize" type="BikeFrameSize_T" />
    <xs:simpleType name="BikeFrameSize_T">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XS" />
            <xs:enumeration value="S" />
            <xs:enumeration value="M" />
            <xs:enumeration value="L" />
            <xs:enumeration value="XL" />
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Booking" type="Booking_T" />
    <xs:complexType name="Booking_T">
        <xs:sequence>
            <xs:element name="CreatedAt" type="xs:dateTime" minOccurs="0" />
            <xs:element name="ClientRef" type="xs:IDREF" />
            <xs:element name="ParticipantsCount" type="xs:positiveInteger" />
            <xs:element ref="BookedAccommodations" />
            <xs:element ref="BookedBikes" />
            <xs:element ref="BookingStatus" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BookedAccommodations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BookedAccommodation" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BookedBikes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BookedBike" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BookedAccommodation" type="BookedAccommodation_T" />
    <xs:complexType name="BookedAccommodation_T">
        <xs:sequence>
            <xs:element name="EventAccommodationRef" type="xs:IDREF" />
            <xs:element name="GuestCount" type="xs:positiveInteger" />
            <xs:element name="Nights" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BookedBike" type="BookedBike_T" />
    <xs:complexType name="BookedBike_T">
        <xs:sequence>
            <xs:element name="EventBikeRentalRef" type="xs:IDREF" />
            <xs:element name="Quantity" type="xs:positiveInteger" />
            <xs:element name="Days" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="BookingStatus" type="BookingStatus_T" />
    <xs:complexType name="BookingStatus_T">
        <xs:choice>
            <xs:element ref="Completed" />
            <xs:element ref="Cancelled" />
            <xs:element ref="Pending" />
        </xs:choice>
    </xs:complexType>


    <xs:element name="Pending" type="Pending_T" />
    <xs:complexType name="Pending_T" />


    <xs:element name="Completed" type="Completed_T" />
    <xs:complexType name="Completed_T">
        <xs:sequence>
            <xs:element name="CompletedAt" type="xs:dateTime" />
            <xs:element ref="Payment" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Cancelled" type="Cancelled_T" />
    <xs:complexType name="Cancelled_T">
        <xs:sequence>
            <xs:element name="CancelledAt" type="xs:dateTime" minOccurs="0" />
            <xs:element name="Reason" type="xs:string" minOccurs="0" />
            <xs:element ref="Payment" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="Payment" type="Payment_T" />
    <xs:complexType name="Payment_T">
        <xs:sequence>
            <xs:element name="AmountPaid" type="PriceEUR_T" />
            <xs:element name="CompletedAt" type="xs:dateTime" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>